@use 'var' as *;
@use 'mixins' as *;

.content {

    width: 40%;
    padding-top: 2rem;

        &__title {
            color: $veryDarkBlue;
            font-size: 1.375rem;
        }

        &__description {
            color: $veryDarkGrayishBlue;
            font-size: 1.0875rem;
            line-height: 1.875;
        }
}