@use 'var' as *;
@import url('https://fonts.google.com/specimen/Overpass?preview.text_type=custom');

html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Overpass', sans-serif;
    overflow: visible;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5rem;
}

.px {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.pt {
    padding-top: 3rem;
}

.pb {
    padding-bottom: 6rem;
}

.button {
    padding: 0.6rem;
    height: 43px;
    width: 120px;
    border-radius: 50px;
    font-weight: 700;
    border: none;
    outline-style: unset;
    cursor: pointer;
}

.button-transparent {
    background: transparent;
    color: $white;
}

.button-white {
    background: $white;
    color: $lightRed;

        &:hover {
            color: $white;
            background: $veryLightRed;
            transition: 200ms ease-in-out;
        }
}

.button-border {
    background: transparent;
    color: $white;
    border: 1px solid $white;

        &:hover {
            color: $lightRed;
            background: $white;
            transition: 200ms ease-in-out;
        }
}